<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>todoアプリ</title>
   <link rel="stylesheet" href="./css/style.css">
</head>
<body>

   <nav class="navbar sticky-top  bg-info" style="color: white;">

      <a class="navbar-brand" href="/">SENMON</a>
         <% if !current_user.nil? %>
         こんにちは、<%= current_user.name %>さん<br>
         <a href="/signout">ログアウト</a><br>
         <a href="/mypage">マイページ</a><br>
         <% elsif !current_senmonka.nil? %>
         お疲れ様です。<%= current_senmonka.name %>先生

         <a href="/senmonkamypage">マイページ</a><br>
         <a href="/senmonkasignout">ログアウト</a><br>
         <% else %>
         <a href="/signin">ログイン</a><br>


         <% end %>

   </nav>

<% if !current_senmonka.acceptance? %>
         申請中
         <% end %>





<%= yield %>
</body>
</html>
