<div>
<form action="/senmonkasignup" method="post">
<div>
 <div>
  <input name="name" placehoder="名前を入力"><br>
  <input name="password" type="password" placeholder="パスワードを入力"><br>
  <input name="password_confirmation" type="password" placeholder="パスワードをもう一度入力じゃねー">
  <input name="career" placeholder="ご自身の職歴や現在の役職を簡単にご記入ください">
  </div>
  <div>
  <input type="submit" value="登録">
</div>
</div>
</form>
</div>